.background-spinner {
    z-index: 9999; /* ตั้งค่า z-index เพื่อให้มันอยู่เหนือสุด */
    background-color: #fff; /* ให้มีสีพื้นหลังโปร่งใส */
    position: fixed; /* ให้มันอยู่ในตำแหน่งที่ตัวเอง โดยไม่ได้มีผลกับการเลื่อนของหน้าเว็บ */
    top: 0; /* ให้ตัวพื้นหลังเต็มจอที่ด้านบน */
    left: 0; /* ให้ตัวพื้นหลังเต็มจอที่ด้านซ้าย */
    right: 0; /* ให้ตัวพื้นหลังเต็มจอที่ด้านขวา */
    bottom: 0; /* ให้ตัวพื้นหลังเต็มจอที่ด้านล่าง */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; /* ไม่ให้เห็นเนื้อหาหรือส่วนของหน้าเว็บอื่น ๆ */
}

.spinner {
    position: relative;
    width: 40px;
    height: 40px;
}

.spinner::before,
.spinner::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    animation: spinner-b4c8mmhg 0.5s backwards, spinner-49opz7hg 1.25s 0.5s infinite ease;
    border: 8.8px solid #ff7f00;
    border-radius: 50%;
    box-shadow: 0 -52.8px 0 -8.8px #ff7f00;
    position: absolute;
}

.spinner::after {
    animation-delay: 0s, 0.25s;
}

@keyframes spinner-b4c8mmhg {
    from {
        box-shadow: 0 0 0 -8.8px #ff7f00;
    }
}

@keyframes spinner-49opz7hg {
    to {
        transform: rotate(360deg);
    }
}
